* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.NavbarDiv {
  display: flex;
  justify-content: flex-end;
  background-color: #222;
  height: 6rem;
  min-width: 100%;
  align-items: center;
  position: relative;
}
.NavLink {
  height: 2.5rem;
  padding-top: 7px;
  width: 5.4rem;
  margin: 5px 15px 5px 5px;
  font-size: 1rem;
  text-decoration: none;
  color: #d5f4e6;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: 1px solid #3e4444;
  border-radius: 15px;
  background-color: teal;
}

#Header_logo {
  color: teal;
  display: flex;
  position: absolute;
  left: 1rem;
  font-size: 0.8rem;
}

.MainPageDiv {
  display: flex;
  max-width: 100%;
  position: relative;
  min-height: 32rem;
  background-color: #c0ded9;
  flex-direction: column;
}

#svg {
  display: flex;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  margin-top: 2rem;
}
.MainPageHeader {
  display: flex;
  justify-content: center;
  background-color: #3e4444;
  h1 {
    font-size: 2rem;
    color: #03aaaa;
  }
}
.LogoSvgImg {
  display: flex;
  justify-content: center;

  img {
    margin-top: 50px;
    max-width: 9rem;
    max-height: 9rem;
  }
}

.MainPageAbout {
  display: flex;
  width: 14rem;
  p {
    margin-top: 20px;
  }
}
.LogoTextDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

@media only screen and (min-width: 720px) and (max-width: 1600px) {
  .LogoTextDiv {
    gap: 10rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 650px) {
  .NavbarDiv {
    width: 90%;
  }
  .mainTodoDiv {
    width: 100%;
    height: 100%;
  }
  .tableListText {
    h1 {
      font-size: 30px;
    }
  }
  .LogoTextDiv {
    gap: 10rem;
  }
  .formDiv {
    width: 100%;
    display: flex;
    justify-content: center;

    form {
      width: 100%;
      label{
        input{
          width:300px;
        }
   
      }
      input{
        width:auto;
        height:30px;
        margin-top: 10px;
      }
    }
  }
  .tableDiv {
    width: 375px;
    .todoTable {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 375px;
      padding: 0;
      margin: 0;
    }
    thead {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 375px;
      tr {
        display: flex;
        justify-content: center;
        width: 375px;
        th{
          margin: 2px;
          margin-top: 30px;
        }
      }
    }
    tbody{
      width: 375px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      tr{
        overflow-y: hidden;
        width: 375px;
        td{
          height:20px;
          padding: 0;
          margin: 0;
          overflow-y:hidden;
          line-height: 20px;
          font-size: 1rem;
          width:100px;
        }
      }
    }
  }
}

// -*-*-*-*-
.mainTodoDiv {
  background-color: #c0ded9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  .tableListText {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    font-size: 1.8rem;
  }
  .tableDiv {
    text-align: center;
    font-family: sans-serif;
  }
}
.todoTable {
  border-radius: 10px;
  padding: 10px;
  th {
    border: 3px solid #95a5a6;
    background-color: #222;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.2rem;
    color: #6bd0ff;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
  td {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: #47423f;
    color: white;
    transition: 0.5s ease;
  }
  button {
    background: none;
    border: none;
    width: 25px;
    font-size: 1rem;
    color: red;
    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

.paginateNumbers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #222;
  overflow-y: scroll;
  nav {
    display: flex;
    justify-content: center;
  }
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  a {
    display: flex;
    justify-content: center;
    margin: 2px;
    color: #95a5a6;
    max-width: 100%;
    &:active {
      color: red;
    }
    &:target {
      color: red;
    }
    &:focus {
      color: red;
    }
  }
}

.hidden {
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.formDiv {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  label {
    font-size: 1.5rem;
    margin: 0 10px 0 10px;
  }
  input {
    border: none;
    padding: 7px;
    margin-left: 15px;
    width: 15rem;
    border-radius: 10px;
  }
}
